# -*- mode: lisp -*-
(
 ("/foo" . (
            (job-class . "Namespace::Foo")
            (queue . "foo_queue")
            (topic . "foo_topic")
            )
         )
 ("/bar" . (
            (job-class . "Bar")
            (queue . "bar_queue_name")
            ;; topic is derived: bar_queue_name__Bar
            ))
 ;; expression language not implemented
 ("/baz" . (cond
             ((eq (get json "type")  "A") '(
                                            (job-class . "A")
                                            (queue . "baz_a")))
             (eq (get json "type") "B") '(
                                          (job-class . "B")
                                          (queue . "baz_b"))
             ))
)
