;; -*- mode: lisp -*-
(
 ("/foo" . (
            (job-class . "Namespace::Foo")
            (queue . "foo_queue")
            (topic . "foo_topic")
            (headers . ("user-agent" "content-type"))
            )
         )
 ("/bar" . (
            (job-class . "Bar")
            (queue . "bar_queue")
            ;; topic is derived: bar_queue__Bar
            ))
)
